{% extends 'layout.html' %}
{% block content %}
	<!-- Projects by type -->
	<div class="row">
		<!-- Type -->
		<div class="col card bg-dark text-center border-0">
			<div class="card_body m-2">
				<div class="card-header bg-secondary">
					Type
				</div>
				<!-- Task -->
				<div class="card bg-dark border-secondary text-center mt-1">
					<div class="card_body m-2">
						<h3 class="card-title">Title</h3>
						<a type="button" class="btn btn-sm btn-outline-warning" href="#"><small>Project name</small></a>
						<p class="card-text mb-1 mt-2">Some info about task</p>
						<div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
							<a type="button" class="btn btn-secondary" href="#">Open</a>
							<a type="button" class="btn btn-secondary" ref="#">Take</a>
							<a type="button" class="btn btn-secondary" ref="#">Delete</a>
						</div>
						<div class="text-right">
							<p class="card-text m-0 mt-2">03.08.19</p>
							<p class="card-text">Username</p>
						</div>
					</div>
				</div>
				<!-- End Task -->
			</div>
		</div>
		<!-- End Type -->
	</div>
	<!-- My projects -->
	<!-- News -->
{% endblock %}
{% block styles %}
	<style>
		.card {
			border-width: 5px;
		}
	</style>
{% endblock %}